<html>
    <head><title>Pet Search</title></head>
    
    <body>
        <h1>Hello</h1>
        
        <form action="/pets" method="get">
        name: <input type="text" name="name">
        age: <input type="text" name="age">
        <button type="submit">Submit</button>
        </form>
    </body>
</html>